# Dependabot will run on day 6 of each month at 01:50 (Europe/Berlin timezone)
version: 2
updates:
  - package-ecosystem: "npm"
    directory: "/"
    schedule:
      interval: "cron"
      timezone: "Europe/Berlin"
      cronjob: "50 1 6 * *"
    open-pull-requests-limit: 15
    assignees:
      - "klein0r"
    versioning-strategy: "increase"
  - package-ecosystem: "github-actions"
    directory: "/"
    schedule:
      interval: "cron"
      timezone: "Europe/Berlin"
      cronjob: "50 1 6 * *"
    open-pull-requests-limit: 15
    assignees:
      - "klein0r"
