name: New issue

on:
  issues:
    types: [opened]

jobs:
  issueCreated:
    runs-on: ubuntu-latest
    if: ${{ !github.event.issue.pull_request && !startsWith(github.event.issue.title, 'Update stable version in repo') }}
    permissions:
      issues: write
    steps:
      - name: Get NPM version
        id: get_npm_version
        uses: satak/webrequest-action@v1.2.3
        with:
          url: https://registry.npmjs.org/iobroker.awtrix-light
          method: GET
      - name: Create comment
        uses: peter-evans/create-or-update-comment@v3
        with:
          issue-number: ${{ github.event.issue.number }}
          body: |
            Thanks for reporting a new issue @${{ github.actor }}!
            1. Please make sure your topic is not covered in the [documentation](https://github.com/klein0r/ioBroker.awtrix-light/blob/master/docs/en/README.md)
            2. Ensure that you use the latest **beta version** (not the current stable version): **${{ fromJson(steps.get_npm_version.outputs.output).data['dist-tags'].latest }}**
            3. Please attach all necessary log files (in debug mode!), screenshots and other information to reproduce this issue
            4. [Search for the issue topic](https://github.com/klein0r/ioBroker.awtrix-light/issues?q=is%3Aissue) in other/closed issues to avoid duplicates!
            ----
            *Otherwise this issue will be closed.*
