name: New issue

on:
  issues:
    types: [opened]

jobs:
  issueCreated:
    runs-on: ubuntu-latest
    if: ${{ !github.event.issue.pull_request }}
    permissions:
      issues: write
    steps:
      - name: Create comment
        uses: peter-evans/create-or-update-comment@v3
        with:
          issue-number: ${{ github.event.issue.number }}
          body: |
            Thanks for reporting!
            1. Please make sure your topic is not covered in the [documentation](https://github.com/klein0r/ioBroker.awtrix-light/blob/master/docs/en/README.md)
            2. Ensure that you use the latest beta version (not the current stable version)
            3. Please attach all necessary log files (in debug mode!), screenshots and other information to reproduce this issue
            ## Sponsored by
            [![ioBroker Master Kurs](https://haus-automatisierung.com/images/ads/ioBroker-Kurs.png)](https://haus-automatisierung.com/iobroker-kurs/?refid=github-actions)
